/* 
#E27D60 : Red
#855DCB : Blue
#E8A87C : Orange
#C38D9E : Purple
#41B3A3 : Green
 */

/* Sections */
html {
	font-family: Arial, sans-serif;
}

body {
	background-color: #E27D60;
}

header {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #C38D9E;
}
/* End Sections */

/* List */
ul.buttons {
	list-style-type: none;
	text-align: center;
	padding-bottom: 25px;
}

ul.buttons > li {
	display: inline-block;
	text-align: center;
	background-color: #E8A87C;
	border-style: ridge;
	padding-right: 10px;
	padding-left: 10px;
}

ul.buttons > li:hover {
	background-color: #E27D60;
}

li > a {
	text-decoration: none;
	color: #855DCB;
}
/* End List */

/* Headings */
h1 {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

h2 {
	text-align: center;
}

img {
	display: block;
  	margin-left: auto;
	margin-right: auto;
}
/* End Headings */
